attrs==19.3.0
certifi==2020.6.20
chardet==3.0.4
comet-git-pure==0.19.16
comet-ml==3.1.13
configobj==5.0.6
cycler==0.10.0
everett==1.0.2
fire==0.3.1
future==0.18.2
grpcio==1.30.0
idna==2.10
jsonschema==3.2.0
kiwisolver==1.2.0
matplotlib==3.3.0
netifaces==0.10.9
numpy==1.19.0
nvidia-ml-py3==7.352.0
opencv-python==4.3.0.36
pandas==1.0.5
Pillow==7.2.0
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
scipy==1.5.1
six==1.15.0
termcolor==1.1.0
torch==1.5.1
torchvision==0.6.1
tqdm==4.48.0
urllib3==1.25.9
websocket-client==0.57.0
wrapt==1.12.1
wurlitzer==2.0.1
ujson
sklearn
